APP_ENV=development
APP_NAME=BreezyAccounts API
API_V1_PREFIX=/api/v1
FRONTEND_ORIGINS=http://localhost:5173

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

WHITEBOOKS_HOST=https://apisandbox.whitebooks.in/gst
WHITEBOOKS_CLIENT_ID=WEBAPI4ccfec4b-c682-407f-976a-6a8608a17c28
WHITEBOOKS_CLIENT_SECRET=WEBAPI551814fe-c4e3-4d85-b051-e5ed86bb16bd
WHITEBOOKS_TIMEOUT_SECONDS=15

REDIS_URL=redis://redis:6379/0
